/* CSS for home page (index.html) */

main  {
    display: grid;
    background: url(/assets/poll-background.png);
    grid-auto-flow: dense;
} 

#form-container {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    width: 200px;
}

#scoreboard-container {
    background-color: coral;
    width: 200px;
}

#past-polls {
    background-color: aquamarine;
    padding: 10px;
    width: 200px;
}

.poll-controls {
    background-color: coral;
}

form {
    display: grid;
    gap: 5px;
}

button {
    max-width: 75px;
    display: flex;
    margin-bottom: 10PX;
}

.past-poll-display {
    background: wheat;
    border: 1px solid black;
    padding: 25px;
    display: grid;
    gap: 10px;
    justify-items: center;
    float: left;
    
}

